.calculator > h1 {
  color: #445464;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  font-family: "Open Sans Bold", sans-serif;
}

.calculator input {
  height: 2.5rem;
  width: 13rem;
  padding: 0.4rem;
  border: 1px solid white;
  margin: 0.3rem 0.3rem 1.5rem 0.3rem;
  font-size: 1.5rem;
  color: var(--theme-color-dark-20);
  box-shadow: 8px 8px 5px -7px var(--theme-color-dark-10);
}

.calculator button {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.5rem;
  color: var(--theme-color-dark-20);
}

.calculator-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculation-operators {
  display: flex;
  flex-direction: column;
}

.other-signs {
  display: flex;
  flex-direction: column;
}
